#canvas {
    width: 50%;
    margin: 10px auto;
    display: block;
    /* display: none; */
  }

  #video {
    width: 50%;
    display: block;
    margin: auto;
  }

  #button-row {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  button {
    margin: 10px;
    width: 140px;
  }